body {
  background-color: rgb(255, 255, 237);
  font-family: 'Calibri', sans-serif;
}

.navbar {
  background-color: green;
  padding: 15px;
  height: inherit;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

li {
  margin: 0 15px;
}

li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

button {
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  max-width: 100%;
}

.product {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  flex: 1 1 calc(50% - 40px); /* Two products per row */
  box-sizing: border-box;
}

.product img {
  width: 100%;
  height: auto;
}

.cart {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}

.add-to-cart {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.remove-from-cart {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navdiv {
    flex-direction: column;
    align-items: flex-start;
  }
  
  ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  
  li {
    margin: 10px 0;
  }
  
  .products {
    flex-direction: column;
  }
  
  .product {
    flex: 1 1 100%;
  }
}
